.settings
target
bin
gen
.project
.classpath
*/.settings
*/target
*/bin
*/gen
*/.project
*/.classpath
**/build
.gradle
.idea
*.iml
*.pro
local.properties
import
.DS_Store
.xmake
captures
**/gradle
gradlew.*
gradlew
